/*
-   Assignment 2 Powell's Book of City Stylesheet
-   Author : Matthew Hinds - 1423205
-   Date : 20th May ~ 27th May 2015
-   Description : Controls the stylesheet of the assignment website.
*/

/*
-   Body Styling
-   Author : Matthew Hinds - 1423205
-   Description : Does the general tidy work to make sure that each element and div are correctly styled.
*/

body
{
    background-color: #ffc65c;
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    background-image: url(images/wallpaper.jpg);
}

#clear 
{
    clear: both;
}

html , body{height:100%;}

#header, #nav, #article, #footer
{
	border: 1px solid transparent;
}

/*
-   Wrapper Styling
-   Author : Matthew Hinds - 1423205
*/
#wrapper
{
	margin-left: 125px;
	margin-right: 125px;
	min-width: 1102px;
}


/*
-   Header Styling
-   Author : Matthew Hinds - 1423205
*/
#header
{
	background-color: rgba(0, 0, 0, 0.12);
}

/*
-   Navigation Styling
-   Author : Matthew Hinds - 1423205
*/
#nav
{
	background-color: whitesmoke;
	padding: 10px 5px 10px 5px;
}

#nav ul
{
	list-style: none;
	width:100%;
	padding:0; 
	margin:0;
}

#nav li
{
	display: inline;
}

#nav li a
{
	padding: 8px 10px 8px 10px;
	background-color: rgb(228, 228, 228);
	text-decoration: none;
}

/*
-   Cart Styling
-   Author : Matthew Hinds - 1423205
*/

#cart-node
{
	float:right;
}

.display{background-color:#CCC; 
         color:#036;
	     border:#900 1px solid;
		 overflow:auto;
		 display: inline-block;
		 vertical-align:top;
		 margin-left:10px;
		 margin-right:10px;}
			 
#txtContainer{white-space:nowrap; 
              text-align:center;}
			 
#txtBookInfo{width:570px;
			 height:500px;}
			 
#txtCart{width:auto;
		 height:350px;
		 vertical-align:top;}
		 
#tblBook, #tblCart{ margin-left:10px;
		  font-family:"Book Antiqua", Palatino, serif; 
		  font-size:18px;}
		  
h1{text-align:center; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:28px; color:#900;}

/*
-   Article Styling
-   Author : Matthew Hinds - 1423205
*/
#article
{
	background-color: white;
	padding: 10px 12px 80px 12px;
}

#article_container
{
	background-color: rgb(232, 232, 232);
	padding: 6px;
}

/*
-   Footer Styling
-   Author : Matthew Hinds - 1423205
*/
#footer
{
	color: rgb(124, 124, 124);
	background-color: rgb(31, 31, 31);
	padding: 25px 50px 125px 50px;
	text-align: center;
	font-size: 12px;
}

#footer_container
{
	margin: -8px;
	min-width: 754px;
	padding-left: 133;
	padding-right: 133;
	background-color: rgb(42, 42, 42);
}

/*
-   Product page Styling
-   Author : Matthew Hinds - 1423205
*/
.book-detail-table
{
}

.book-table-image
{
	display: inline-block;
}

.td-style-heading
{
	min-width: 100px;
}

.td-style-content
{
	
}

.td-style-description
{
	padding-left: 15px;
	padding-top: 15px;
}

.book-description-table {
	margin-top: 15px;
	padding: 0px 20 20px 20;
	border: 2px solid rgb(178, 178, 178);
	background-color: rgb(249, 249, 249);
}

.book-detail-table {
	border: 2px solid rgb(178, 178, 178);
	padding: 8px;
	background-color: rgb(249, 249, 249);
	
	float: left;
	margin-right: 8px;
}

.dv-description-style
{
	background-color: white;
	border: 1px solid rgb(210, 210, 210);
	padding: 12px;
}

.book-buynow-table
{
	position: absolute;
	margin-top: 175px;
}

.div-price 
{
	border: 2px solid rgb(178, 178, 178);
	background-color: rgb(249, 249, 249);
	padding: 5px 135px 5px 15px;
	margin-left: -3px;
}

/*
-   Category Styling
-   Author : Matthew Hinds - 1423205
*/
#book-category td 
{
  border: 1px solid black;
  min-width: 300px;

}
#book-category 
{
  border: 1px solid black;
}